

.toggle-icon{
    width: 60px;
    cursor: pointer;
    background: #000;
}
.dark .toggle-icon{
    background:white ;
}

.navbar{
    transition: 0.5s;
    background: #000;
    color: #fff;
}
.dark .navbar{
    background:#fff ;
    color: #000;
}
